*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bn{
    min-height: 90vh;
}
.bn span{
    display: block;
    height: 2px;
    width: 100%;
    background: #15a4fa;
}
.bn h1{
    color: white;
    font-size: 50px;
}
.bn p{
    color: white;
    font-size: 18px;
}
.btn-primary{
    color: #fff;
    background-color: transparent;
    border-color: #15a4fa;
}
.btn-primary:hover{
    color: #fff;
    background-color: #15a4fa;
    border-color: transparent;
}
